<div class="p-7 mt-7 flex gap-4">
    <!--image section-->
    <div class="image">
        <img [src]="product?.image" class="product-image">
    </div>

    <!--product info-->
    <div class="product-info w-3/4">
        <h1 class="-mt-5">{{product?.title}}</h1>
        <p class="flex gap-8 items-center pb-8">
            <span>$ {{product?.price}}</span>
            <span class="flex items-start">
                <p-tag severity="warn" value="-{{product?.discountPercentage}}%" class="rate"  />
            </span>
        </p>
        <p-rating [(ngModel)]="rateValue" [stars]="10" readonly/>
        <p class="pb-8 pt-8">
            {{product?.description}}
        </p>
        <p-tag [severity]="product?.status == 'Available' ? 'success':'danger'" [value]="product?.status" [rounded]="true"  />
        <p class="pt-4">Available colors</p>
        <ul class="flex gap-6 pb-8">
            @for(color of product?.color; track color.id)
            {
                <li>{{color?.colorName}}</li>
            }
        </ul>
        <p-button label="Add to chart" icon="pi pi-cart-plus" class="w-full"/>
    </div>
</div>