<app-customer-form>
    <div class="mt-8 flex justify-center">
        <form action="" metod="post" class="bg-zinc-900 w-1/4 border-1 border-teal-600 rounded p-8 overflow-hidden" 
        [formGroup]="registerForm" (ngSubmit)="signup()">
            <div class="flex items-center justify-center pb-8">
                <div class=logo4>
                    <img src="assets/icons/logo4.png" class="img-fluid">
                </div>
                <h1 class="text-white-600 font-extrabold logo-text">S<span class="text-teal-600">E</span>LL</h1>
            </div>

            <!-- first name -->
            <div class="flex flex-col gap-2 pb-6">
                <label for="firstName">first name</label>
                <input pInputText id="firstName" aria-describedby="firstName-help" class="p-2" placeholder="Enter your first name" name="firstName" formControlName="firstName"/>
                <!-- errors  -->
                @if(registerForm.get('firstName')?.touched && registerForm.get('firstName')?.errors)
                {
                    <!--required-->
                    <small [hidden]="!registerForm?.get('firstName')?.hasError('required')" class="text-red-500">
                        * {{required}}
                    </small>
                    <!--min length-->
                    <small [hidden]="!registerForm?.get('firstName')?.hasError('minlength')" class="text-red-500">
                        * First name must contain at least 3 letters
                    </small>
                    <!--max length-->
                    <small [hidden]="!registerForm?.get('firstName')?.hasError('maxlength')" class="text-red-500">
                        * First name must not exceed 10 letters
                    </small>
                    <!--pattern-->
                    <small [hidden]="!registerForm?.get('firstName')?.hasError('pattern')" class="text-red-500">
                        * First name must contain letters only
                    </small>
                }
            </div>

            <!-- last name -->
            <div class="flex flex-col gap-2 pb-6">
                <label for="lastName">last name</label>
                <input pInputText id="lastName" aria-describedby="lastName-help" class="p-2" placeholder="Enter your last name" name="lastName" formControlName="lastName"/>
                <!-- errors  -->
                @if(registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors)
                {
                    <!--required-->
                    <small [hidden]="!registerForm?.get('lastName')?.hasError('required')" class="text-red-500">
                        * {{required}}
                    </small>
                    <!--min length-->
                    <small [hidden]="!registerForm?.get('lastName')?.hasError('minlength')" class="text-red-500">
                        * Last name must contain at least 3 letters
                    </small>
                    <!--max length-->
                    <small [hidden]="!registerForm?.get('lastName')?.hasError('maxlength')" class="text-red-500">
                        * Last name must not exceed 10 letters
                    </small>
                    <!--pattern-->
                    <small [hidden]="!registerForm?.get('lastName')?.hasError('pattern')" class="text-red-500">
                        * Last name must contain letters only
                    </small>
                }
            </div>

            <!-- user name -->
            <div class="flex flex-col gap-2 pb-6">
                <label for="username">username</label>
                <input pInputText id="username" aria-describedby="username-help" class="p-2" placeholder="Enter your username" name="username" formControlName="username"/>
                <!-- errors  -->
                @if(registerForm.get('customername')?.touched && registerForm.get('customername')?.errors)
                {
                    <!--required-->
                    <small [hidden]="!registerForm?.get('username')?.hasError('required')" class="text-red-500">
                        * {{required}}
                    </small>
                    <!--min length-->
                    <small [hidden]="!registerForm?.get('username')?.hasError('minlength')" class="text-red-500">
                        * User name must contain at least 3 letters
                    </small>
                    <!--max length-->
                    <small [hidden]="!registerForm?.get('username')?.hasError('maxlength')" class="text-red-500">
                        * User name must not exceed 150 letters
                    </small>
                    <!--pattern-->
                    <small [hidden]="!registerForm?.get('username')?.hasError('pattern')" class="text-red-500">
                        * User name must start with letter and contain numbers,symbols
                    </small>
                }
            </div>

            <!-- email -->
            <div class="flex flex-col gap-2 pb-6">
                <label for="Email">Email</label>
                <input pInputText type="email" id="Email" aria-describedby="Email-help" class="p-2" placeholder="Enter your email" name="Email" formControlName="Email"/>
                <!-- errors  -->
                @if(registerForm.get('Email')?.touched && registerForm.get('Email')?.errors)
                {
                    <!--required-->
                    <small [hidden]="!registerForm?.get('Email')?.hasError('required')" class="text-red-500">
                        * {{required}}
                    </small>
                    <!--pattern-->
                    <small [hidden]="!registerForm?.get('Email')?.hasError('email')" class="text-red-500">
                        * Invalid email
                    </small>
                }
            </div>

            <!-- password -->
            <div class="flex flex-col gap-2 pb-6">
                <label for="email">password</label>
                <input pInputText type="password" id="password" aria-describedby="password-help" class="p-2" placeholder="Enter your password" name="password" formControlName="password"/>
                <!-- errors  -->
                @if(registerForm.get('password')?.touched && registerForm.get('password')?.errors)
                {
                    <!--required-->
                    <small [hidden]="!registerForm?.get('password')?.hasError('required')" class="text-red-500">
                        * {{required}}
                    </small>
                    <!--min length-->
                    <small [hidden]="!registerForm?.get('password')?.hasError('minlength')" class="text-red-500">
                        * Password must contain at least 8 charcters
                    </small>
                    <!--pattern-->
                    <small [hidden]="!registerForm?.get('password')?.hasError('pattern')" class="text-red-500">
                        * Password must start with letters and contain number and symbols
                    </small>
                }
            </div>



 

            <div class="flex gap-3 pb-2">
                <!--sign up-->
                <div class="submit-btn w-1/2">
                    <p-button label="save" type="submit" [disabled]="!registerForm.valid" (click)="signup()"/>
                </div>

                <!--cancel process-->
                <div class="cancel-btn w-1/2">
                    <p-button label="cancel"/>
                </div>
            </div>

            <hr>

            <div class="text-center pt-2">
                <a class="text-teal-600" [routerLink]="['/auth/login']">Already have account</a>
            </div>
        </form>
    </div>
</app-customer-form>