<div class="mt-8 flex justify-center">
    <form action="" metod="post" class="bg-zinc-900 w-1/4 border-1 border-teal-600 rounded p-8 overflow-hidden">
        <div class="flex items-center justify-center pb-8">
            <div class=logo4>
                <img src="assets/icons/logo4.png" class="img-fluid">
            </div>
            <h1 class="text-white-600 font-extrabold logo-text">S<span class="text-teal-600">E</span>LL</h1>
        </div>

        <div class="flex flex-col gap-2 pb-6">
            <label for="firstName">first name</label>
            <input pInputText id="firstName" aria-describedby="firstName-help" class="p-2" placeholder="Enter your first name"/>
        </div>

        <div class="flex flex-col gap-2 pb-6">
            <label for="lastName">last name</label>
            <input pInputText id="lastName" aria-describedby="lastName-help" class="p-2" placeholder="Enter your last name"/>
        </div>

        <div class="flex flex-col gap-2 pb-6">
            <label for="userName">username</label>
            <input pInputText id="userName" aria-describedby="username-help" class="p-2" placeholder="Enter your username"/>
        </div>

        <div class="flex flex-col gap-2 pb-6">
            <label for="email">Email</label>
            <input pInputText type="email" id="email" aria-describedby="email-help" class="p-2" placeholder="Enter your email"/>
        </div>

        <div class="flex flex-col gap-2 pb-6">
            <label for="email">password</label>
            <input pInputText type="password" id="password" aria-describedby="password-help" class="p-2" placeholder="Enter your password"/>
        </div>

        <div class="flex flex-col gap-2 pb-6">
            <label for="phone">phone</label>
            <input pInputText type="text" id="phone" aria-describedby="phone-help" class="p-2" placeholder="(01) xxxx xxxxx" />
        </div>

        <div class="card">
            <p-toast />
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" 
            maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="drag profile image" />
        </div>

        <div class="flex gap-3 pb-2">
            <div class="submit-btn w-1/2">
                <p-button label="save"/>
            </div>
            <div class="cancel-btn w-1/2">
                <p-button label="cancel"/>
            </div>
        </div>

        <hr>

        <div class="text-center pt-2">
            <a class="text-teal-600" [routerLink]="['/auth/login']">Already have account</a>
        </div>
    </form>
</div>
